.navbar {
	list-style: none;
	padding: 1.5rem;
	display: flex;
	align-items: center;
	margin: 0 auto 2rem;
	max-width: 60vw;
	background-color: #f6edff;
	border-bottom-left-radius: 33px;
	border-bottom-right-radius: 33px;
	box-shadow: black 0px 5px 6px -7px, inset black 0 2px 5px -5px;

	overflow: hidden;
	position: relative;
	
}

.navbar__item {
	width: 100%;
}

.navbar__link {
	color: black;
	text-decoration: none;
	border-radius: 30px;
	transition: all .3s;
	padding: 6px 0 6px;
	white-space: nowrap;
}

.navbar__link:hover {
	padding: 6px 12px 6px;
	background-color: #EADDFF;
}

.navbar__link_active {
	transition: background-color .4s;
	font-weight: 500;
	background-color: #D0BCFF;
	padding: 6px 12px 6px;
}

.navbar__link_active:hover {
	cursor: default;
	background-color: #D0BCFF;
}