.avatar {
	width: 3rem;
	height: 3rem;
	background-color: #EFB8C8;
	color: #31111D;
	border-radius: 50%;
	text-align: center;
	font-weight: 500;
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 2rem;
	cursor: pointer;
}

.avatar span {
	cursor: pointer;
}

@media screen and (max-width: 424px) {
	.avatar {
		width: 2.5rem;
		height: 2.5rem;
		font-weight: 500;
		font-size: 1.5rem;
		line-height: 1.5rem;
	}
}