html {
	height: 100%;
}

body {
	-webkit-tap-highlight-color: transparent;
	margin: 0 auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f6edff;
	/* background-color: #FFFBFE; */
	color: #21005d;
	justify-content: center;
	text-align: center;
	height: 100%;
	box-sizing: border-box;
}

.title {
	font-weight: 500;
	max-width: 90vw;
	margin: 0 auto 2rem;
}

.FAB {
	border: none;
	border-radius: 13px;
	padding: 15px;
	background-color: #6750a4;
	color: white;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	box-shadow: 0 2px 4px #21005d6c;
	transition: all 0.2s;
}

.FAB:hover {
	cursor: pointer;
	box-shadow: 0 3px 6px #21005d6c;
	background-color: #7f67be;
}

.button {
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	background-color: #6750a4;
	color: white;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	transition: all 0.2s;
	white-space: nowrap;
}

.button:hover {
	cursor: pointer;
	opacity: 0.9;
}

.button_disabled {
	background-color: #aea9b4;
	cursor: default;
}

.button_disabled:hover {
	cursor: default;
	opacity: 1;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
